body{
    background-color: #373737;
}
header{
    padding: 5px;
    text-align: center;
    background-color: #373737;
    color:#FFF;
}
h2{
    text-align: center;
}
p{
    font-size: large;
    font-weight: bold;
}
dl{
    font-weight: bold;
    font-size: x-large;
    padding-top: 1em;
    text-align: center;
}
dl dt{
    color: black;
    text-decoration: none;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top:1px solid #373737;
    margin-top: 1em;
}
dl a{
    color: black;
    text-decoration: none;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #373737;
}
dl a:hover{
    text-decoration: underline blue;
    color: black;
}
img{
    height:  58.6px;
    width: 250px;
    box-shadow: 5px 5px 5px black;
}
footer{
    text-align: center;
    background-color: #373737;
    color: #FFF;
    font-size: 25px;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}
#wrapper{
    padding: 2em;
    margin: 5%;
    width: 80%;
    background-color:#F5F5F5;
}
#home{
    height:50px;
    width:50px;
    min-width: 50px;
    box-shadow: 2px 2px 2px #373737
}
#center{
    text-align: center;
}
.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1em;
}
.flex-card{
    width: 25%;
    min-width: 250px;
    margin-bottom:30px;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}
.flex-card img,
.flex-card a{
    max-width: 100%;
    margin-bottom: 10px;
}